.firstSection {
  margin-top: 160px;
}

@media only screen and (max-width: 400px) {
  .firstSection {
    margin-top: 400px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .firstSection {
    margin-top: 170px;
    padding-top: 10px;
  }
}

.sectionImage {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 15px;
  border: none;
}
.sectionImageContainer {
  margin: 10px;
  text-align: start;
  display: block;
}

@media only screen and (max-width: 600px) {
  .sectionImage {
    width: 13%;
    height: 13%;
    border-radius: 15px;
  }
  .sectionImageContainer {
    text-align: start;
    display: block;
    width: 450px;
    height: 450px;
    border: none;
  }
}
