@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Heebo&family=Montserrat&family=Roboto&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Fira Code", Heebo, Montserrat, Roboto, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
