* {
  margin: 0;
}


.menu-block {
  color: white;
  right: 18px;
  top: 10px;
  position: relative;
  text-align: end;
}
.menu-logo {
  color: white;
  width: max-content;
  height: max-content;
  left: 60px;
  top: 10px;
  position: absolute;
  text-align: start;
}

h1 {
  font-size: 1.5rem;
}
ul {
  list-style-type: none;
}
