.header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #222831;
  background: #222831;
  z-index: 10;
  border: 2px solid;
  padding: 10px;
  box-shadow: 3px 3px 2px #222831;
}
.logoText {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fbf6f0;
  position: relative;
  float: left;
  margin: 17px;
}

.menu {
  padding: 20px;
  color: #fbf6f0;
  float: right;
}

.menu li a {
  padding: 0 20px;
  display: inline-block;
  color: #fbf6f0;
  /* border-right: 1px solid #fbf6f0; */
  /* border-left: 1px solid #fbf6f0; */
}

@media only screen and (max-width: 600px) {
  .menu {
    text-align: center;
    width: 88.5%;
  }

  .logoText {
    text-align: center;
    display: inline-block;
    width: 86.5%;
  }
}

/* paleta de core
#222831
#393e46
#fecd1a
#fbf6f0
*/
