.firstSection {
  margin-top: 10%;
}

@media only screen and (max-width: 400px) {
  .firstSection {
    padding-top: 37%;
  }
}

@media only screen and (max-width: 900px) {
  .firstSection {
    margin-top: 15%;
    padding-top: 30%;
  }
}
