.firstSection {
  margin-top: 160px;
}

@media only screen and (max-width: 400px) {
  .firstSection {
    margin-top: 400px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .firstSection {
    margin-top: 170px;
    padding-top: 10px;
  }
}

.sectionImage {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 60%;
  border: none;
}
.sectionImageContainer {
  margin: 10px;
  text-align: start;
  display: block;
}
.textSecond {
  text-align: left;
}

.postLine {
  height: 2px;
  border: none;
  color: #393e46;
  background-color: #393e46;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 150px;
  position: relative;
  float: left;
  display: block;
}

.postTextSub {
  font-family: "Roboto", sans-serif;
  color: #fbf6f0;
  margin: 10px;
  display: block;
  position: relative;
}

.postText {
  font-family: "Roboto", sans-serif;
  color: #fbf6f0;
  margin: 10px;
  display: block;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .sectionImage {
    width: 130px;
    height: 130px;
    border-radius: 60%;
  }
  .sectionImageContainer {
    text-align: start;
    display: block;
    width: fit-content;
    height: fit-content;
    border: none;
  }
}
